
.header__lang-link {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    text-decoration-line: none;
    font-family: 'Inter', Arial, sans-serif;
}
.header__lang-link:hover {
    opacity: 0.8;
    transition: all ease-in-out 0.2s;

}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
    } 
}