.cover__overlay {
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    gap: 30px;
    object-fit: cover;
    box-sizing: border-box;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
    transition: all 0.2s ease-in-out;

}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
        gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}
@media screen and (max-width:500px) {
    .cover__overlay  {
        max-width: 320px;
        min-height: 300px;
        
    }
}
@media screen and (max-width: 320px) {
    .cover__overlay {
        gap: 16px;
        max-width: 320px;
        min-height: 200px;
    }
}